/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 27, 2022, 10:33:09 PM
    Author     : User
*/


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body {
    line-height: 1.15;
}

header label {
    margin-bottom: 0;
    margin-top: -10px !important;
}

header h4 {
    font-size: 17px;
    font-weight: bolder;
}



header h4, h2 {
    margin: 0;
}

.sidebar {
    width: 345px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: #007750;
    z-index: 100;
    transition: width 300ms;
}

.sidebar-brand {
    height: 90px;
    padding: 1rem 0rem 1rem 2rem;
    color: #fff;
}

.sidebar-brand h2 { 
    font-size: 1.5em;
    font-weight: bold;
}

.sidebar-brand span {
    display: inline-block;
    padding-right: 1rem;
}

.sidebar-menu {
    margin-top: 1rem;
}

.sidebar-menu li {
    width: 100%;
    margin-bottom: 1.7rem;
    padding-left: 1rem;


}

.sidebar-menu a {
    padding-top: 0.4rem;
    padding-left: 1rem;
    display: block;
    color: #fff;
    font-size: 1.1rem;
    text-decoration: none;
}

.sidebar-menu a.active {
    background: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #f9edff;
    border-radius: 30px 0px 0px 30px;
}

.sidebar-menu a span:first-child {
    font-size: 1.5rem;
    padding-right: 1rem;
    text-decoration: none;
}

#nav-toggle:checked+.sidebar {
    width: 70px;
}

#nav-toggle:checked+.sidebar .sidebar-brand,
#nav-toggle:checked+.sidebar li {
    padding-left: 1rem;
    text-align: center;
}

#nav-toggle:checked+.sidebar li a {
    padding-left: 0rem;
}

#nav-toggle:checked+.sidebar .sidebar-brand h2 span:last-child,
#nav-toggle:checked+.sidebar li a span:last-child,
#nav-toggle:checked+.sidebar li div .dropdown-list a span:nth-child(2),
#nav-toggle:checked+.sidebar li div .dropdown-list a span:last-child{
    display: none;
}

#nav-toggle:checked~.main-content {
    margin-left: 70px;
}

#nav-toggle:checked~.main-content header {
    width: calc(100% - 70px);
    left: 70px;
}

.main-content {
    transition: margin-left 300ms;
    margin-left: 345px;
}

header {
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 345px;
    width: calc(100% - 345px);
    height: 80px;
    top: 0;
    z-index: 1;
    transition: left 300ms;
}

#nav-toggle {
    display: none;
}

header h2 {
    color: #222;
}

header label span {
    font-size: 1.7rem;
    padding-right: 1rem;
}

/*.search-wrapper {
    border: 1px solid #ccc;
    border-radius: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

.search-wrapper span {
    display: inline-block;
    padding: 0rem 1rem;
    font-size: 1.5rem;
}

.search-wrapper input {
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;
}*/

.user-wrapper {
    display: flex;
    align-items: center;
}

.user-wrapper img {
    border-radius: 50%;
    margin-right: 1rem;
}

.user-wrapper small {
    display: inline-block;
    color: #8390A2;
}

main {
    margin-top: 85px;
    padding: 2rem 1.5rem;
    background: #f1f5f9;
    min-height: calc(100vh - 90px);
}

header {
    background-color: #FFFF00;
}

/* Style the sidenav links and the dropdown button */
.dropdown-list {
    /*  padding-left: 1rem;*/
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
    border: none;
    background: none;
    width: 100%;
    cursor: pointer;
    outline: none;
}

/* On mouse-over */
.dropdown-list:hover {
    color: #f1f1f1;
}

.dropdown-container{
    display:none;
    padding:10px 8px 0px 16px;
    /*padding-bottom: 15px;*/
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 37px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus{
    color: black;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

label span{
    position:relative;
    padding:20px 10px 20px 10px;
}

/*.user-wrapper a span{
    width:400px;
    height:400px;
}*/

/* new thing */

@media only screen and (max-width: 1200px) {
    .sidebar {
        width: 70px;
    }
    .sidebar .sidebar-brand,
    .sidebar li {
        padding-left: 1rem;
        text-align: center;
    }
    .sidebar li a {
        padding-left: 0rem;
    }
    .sidebar .sidebar-brand h2 span:last-child,
    .sidebar li a span:last-child {
        display: none;
    }
    .main-content {
        margin-left: 70px;
    }
    .main-content header {
        width: calc(100% - 70px);
        left: 70px;
    }
}

@media only screen and (max-width: 960px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
    .recent-grid {
        grid-template-columns: 60% 40%;
    }
}

@media only screen and (max-width: 768px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
    .recent-grid {
        grid-template-columns: 100%;
    }
    .search-wrapper {
        display: none;
    }
    .sidebar {
        left: -100% !important;
    }
    header h2 {
        display: flex;
        align-items: center;
    }
    header h2 label {
        display: inline-block;
        text-align: center;
        background: #007750;
        padding-right: 0rem;
        margin-right: 1rem;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center !important;
    }
    header h2 span {
        text-align: center;
        padding-right: 0rem;
    }
    header h2 {
        font-size: 1.1rem;
    }
    .main-content {
        width: 100%;
        margin-left: 0rem;
    }
    header {
        width: 100% !important;
        left: 0 !important;
    }
    #nav-toggle:checked+.sidebar {
        left: 0 !important;
        z-index: 100;
        width: 345px;
    }
    #nav-toggle:checked+.sidebar:hover {
        width: 345px;
        z-index: 200;
    }
    #nav-goggle:checked+.sidebar .sidebar-brand,
    #nav-toggle:checked+.sidebar:hover li {
        padding-left: 2rem;
        text-align: left;
    }
    #nav-goggle:checked+.sidebar li a {
        padding-left: 1rem;
    }
    #nav-goggle:checked+.sidebar .sidebar-brand h2 span:last-child,
    #nav-goggle:checked+.sidebar li a span:last-child {
        display: inline;
    }
}

@media only screen and (max-width: 560px) {
    .cards {
        grid-template-columns: 100%;
    }
}

