<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RetrieveCategory</servlet-name>
        <servlet-class>controller.RetrieveCategory</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>RetrieveSubCategory</servlet-name>
        <servlet-class>controller.RetrieveSubCategory</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>RetrieveProduct</servlet-name>
        <servlet-class>controller.RetrieveProduct</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>RetrieveOrder</servlet-name>
        <servlet-class>controller.RetrieveOrder</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>RetrievePromotionItem</servlet-name>
        <servlet-class>controller.RetrievePromotionItem</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>RetrieveStaff</servlet-name>
        <servlet-class>controller.RetrieveStaff</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>RetrieveCustomer</servlet-name>
        <servlet-class>controller.RetrieveCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetrieveCartItem</servlet-name>
        <servlet-class>controller.RetrieveCartItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCustomer</servlet-name>
        <servlet-class>controller.AddCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustLogin</servlet-name>
        <servlet-class>controller.CustLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSubCategory</servlet-name>
        <servlet-class>controller.AddSubCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackFilter</servlet-name>
        <servlet-class>controller.FeedbackFilter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToFeedback</servlet-name>
        <servlet-class>controller.ToFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToFeedbackReply</servlet-name>
        <servlet-class>controller.ToFeedbackReply</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCustOrderList</servlet-name>
        <servlet-class>controller.ShowCustOrderList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>controller.AddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdQtyIncDec</servlet-name>
        <servlet-class>controller.ProdQtyIncDec</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartItem</servlet-name>
        <servlet-class>controller.DeleteCartItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackDelete</servlet-name>
        <servlet-class>controller.FeedbackDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToSearchProduct</servlet-name>
        <servlet-class>controller.ToSearchProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProductByPage</servlet-name>
        <servlet-class>controller.ViewProductByPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdSortBy</servlet-name>
        <servlet-class>controller.ProdSortBy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdGetBySubCateg</servlet-name>
        <servlet-class>controller.ProdGetBySubCateg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdGetByCateg</servlet-name>
        <servlet-class>controller.ProdGetByCateg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdGetByPriceRange</servlet-name>
        <servlet-class>controller.ProdGetByPriceRange</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdGetBySomeName</servlet-name>
        <servlet-class>controller.ProdGetBySomeName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCustomer</servlet-name>
        <servlet-class>controller.ViewCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToOrder</servlet-name>
        <servlet-class>controller.AddToOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddOrderDetails</servlet-name>
        <servlet-class>controller.AddOrderDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPayment</servlet-name>
        <servlet-class>controller.AddPayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddShippingDetail</servlet-name>
        <servlet-class>controller.AddShippingDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClearCart</servlet-name>
        <servlet-class>controller.ClearCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchStaff</servlet-name>
        <servlet-class>controller.SearchStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchOrder</servlet-name>
        <servlet-class>controller.SearchOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToSearchStaff</servlet-name>
        <servlet-class>controller.ToSearchStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToSearchOrder</servlet-name>
        <servlet-class>controller.ToSearchOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToComment</servlet-name>
        <servlet-class>controller.ToComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentFilter</servlet-name>
        <servlet-class>controller.CommentFilter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToCommentReply</servlet-name>
        <servlet-class>controller.ToCommentReply</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentDelete</servlet-name>
        <servlet-class>controller.CommentDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOrderDetails</servlet-name>
        <servlet-class>controller.GetOrderDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortProduct</servlet-name>
        <servlet-class>controller.SortProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSingleProduct</servlet-name>
        <servlet-class>controller.GetSingleProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCommentForSingleProduct</servlet-name>
        <servlet-class>controller.GetCommentForSingleProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddComment</servlet-name>
        <servlet-class>controller.AddComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelOrder</servlet-name>
        <servlet-class>controller.CancelOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFeedbackReply</servlet-name>
        <servlet-class>controller.AddFeedbackReply</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCommentReply</servlet-name>
        <servlet-class>controller.AddCommentReply</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>controller.AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductPagination</servlet-name>
        <servlet-class>controller.ProductPagination</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProduct</servlet-name>
        <servlet-class>controller.UpdateProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdPopupRetrieve</servlet-name>
        <servlet-class>controller.ProdPopupRetrieve</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCustomer</servlet-name>
        <servlet-class>controller.EditCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerFeedback</servlet-name>
        <servlet-class>controller.CustomerFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>controller.DeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortCateg</servlet-name>
        <servlet-class>controller.SortCateg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCategory</servlet-name>
        <servlet-class>controller.UpdateCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCategory</servlet-name>
        <servlet-class>controller.DeleteCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToSearchCateg</servlet-name>
        <servlet-class>controller.ToSearchCateg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategPopupRetrieve</servlet-name>
        <servlet-class>controller.CategPopupRetrieve</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToSearchSubCateg</servlet-name>
        <servlet-class>controller.ToSearchSubCateg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchOrderBasedOnProduct</servlet-name>
        <servlet-class>controller.SearchOrderBasedOnProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToStaffDashboard</servlet-name>
        <servlet-class>controller.ToStaffDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategory</servlet-name>
        <servlet-class>controller.AddCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToggleCategArchive</servlet-name>
        <servlet-class>controller.ToggleCategArchive</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubCategPopupRetrieve</servlet-name>
        <servlet-class>controller.SubCategPopupRetrieve</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSubCategory</servlet-name>
        <servlet-class>controller.UpdateSubCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSubCategory</servlet-name>
        <servlet-class>controller.DeleteSubCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToggleSubCategArchive</servlet-name>
        <servlet-class>controller.ToggleSubCategArchive</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortSubCateg</servlet-name>
        <servlet-class>controller.SortSubCateg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStaff</servlet-name>
        <servlet-class>controller.AddStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStaff</servlet-name>
        <servlet-class>controller.UpdateStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStaff</servlet-name>
        <servlet-class>controller.DeleteStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffPopupRetrieve</servlet-name>
        <servlet-class>controller.StaffPopupRetrieve</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCategSelected</servlet-name>
        <servlet-class>controller.GetCategSelected</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToggleProdArchive</servlet-name>
        <servlet-class>controller.ToggleProdArchive</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToggleStaffArchive</servlet-name>
        <servlet-class>controller.ToggleStaffArchive</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCustomer</servlet-name>
        <url-pattern>/AddCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustLogin</servlet-name>
        <url-pattern>/CustLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetrieveProduct</servlet-name>
        <url-pattern>/RetrieveProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetrieveCategory</servlet-name>
        <url-pattern>/RetrieveCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetrieveSubCategory</servlet-name>
        <url-pattern>/RetrieveSubCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetrieveCartItem</servlet-name>
        <url-pattern>/RetrieveCartItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetrieveOrder</servlet-name>
        <url-pattern>/RetrieveOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetrievePromotionItem</servlet-name>
        <url-pattern>/RetrievePromotionItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetrieveStaff</servlet-name>
        <url-pattern>/RetrieveStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetrieveCustomer</servlet-name>
        <url-pattern>/RetrieveCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSubCategory</servlet-name>
        <url-pattern>/AddSubCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackFilter</servlet-name>
        <url-pattern>/FeedbackFilter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToFeedback</servlet-name>
        <url-pattern>/ToFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToFeedbackReply</servlet-name>
        <url-pattern>/ToFeedbackReply</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCustOrderList</servlet-name>
        <url-pattern>/ShowCustOrderList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/AddToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdQtyIncDec</servlet-name>
        <url-pattern>/ProdQtyIncDec</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartItem</servlet-name>
        <url-pattern>/DeleteCartItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackDelete</servlet-name>
        <url-pattern>/FeedbackDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToSearchProduct</servlet-name>
        <url-pattern>/ToSearchProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdSortBy</servlet-name>
        <url-pattern>/ProdSortBy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdGetBySubCateg</servlet-name>
        <url-pattern>/ProdGetBySubCateg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdGetByCateg</servlet-name>
        <url-pattern>/ProdGetByCateg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdGetByPriceRange</servlet-name>
        <url-pattern>/ProdGetByPriceRange</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdGetBySomeName</servlet-name>
        <url-pattern>/ProdGetBySomeName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProductByPage</servlet-name>
        <url-pattern>/ViewProductByPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCustomer</servlet-name>
        <url-pattern>/ViewCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToOrder</servlet-name>
        <url-pattern>/AddToOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddOrderDetails</servlet-name>
        <url-pattern>/AddOrderDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPayment</servlet-name>
        <url-pattern>/AddPayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddShippingDetail</servlet-name>
        <url-pattern>/AddShippingDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClearCart</servlet-name>
        <url-pattern>/ClearCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchStaff</servlet-name>
        <url-pattern>/SearchStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchOrder</servlet-name>
        <url-pattern>/SearchOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToSearchStaff</servlet-name>
        <url-pattern>/ToSearchStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToSearchOrder</servlet-name>
        <url-pattern>/ToSearchOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToComment</servlet-name>
        <url-pattern>/ToComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentFilter</servlet-name>
        <url-pattern>/CommentFilter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToCommentReply</servlet-name>
        <url-pattern>/ToCommentReply</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentDelete</servlet-name>
        <url-pattern>/CommentDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOrderDetails</servlet-name>
        <url-pattern>/GetOrderDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortProduct</servlet-name>
        <url-pattern>/SortProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSingleProduct</servlet-name>
        <url-pattern>/GetSingleProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCommentForSingleProduct</servlet-name>
        <url-pattern>/GetCommentForSingleProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddComment</servlet-name>
        <url-pattern>/AddComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelOrder</servlet-name>
        <url-pattern>/CancelOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFeedbackReply</servlet-name>
        <url-pattern>/AddFeedbackReply</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCommentReply</servlet-name>
        <url-pattern>/AddCommentReply</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/AddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductPagination</servlet-name>
        <url-pattern>/ProductPagination</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProduct</servlet-name>
        <url-pattern>/UpdateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdPopupRetrieve</servlet-name>
        <url-pattern>/ProdPopupRetrieve</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCustomer</servlet-name>
        <url-pattern>/EditCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerFeedback</servlet-name>
        <url-pattern>/CustomerFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/DeleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortCateg</servlet-name>
        <url-pattern>/SortCateg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCategory</servlet-name>
        <url-pattern>/UpdateCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCategory</servlet-name>
        <url-pattern>/DeleteCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToSearchCateg</servlet-name>
        <url-pattern>/ToSearchCateg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategPopupRetrieve</servlet-name>
        <url-pattern>/CategPopupRetrieve</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToSearchSubCateg</servlet-name>
        <url-pattern>/ToSearchSubCateg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategory</servlet-name>
        <url-pattern>/AddCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubCategPopupRetrieve</servlet-name>
        <url-pattern>/SubCategPopupRetrieve</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSubCategory</servlet-name>
        <url-pattern>/UpdateSubCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSubCategory</servlet-name>
        <url-pattern>/DeleteSubCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToggleCategArchive</servlet-name>
        <url-pattern>/ToggleCategArchive</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToggleSubCategArchive</servlet-name>
        <url-pattern>/ToggleSubCategArchive</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortSubCateg</servlet-name>
        <url-pattern>/SortSubCateg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStaff</servlet-name>
        <url-pattern>/AddStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStaff</servlet-name>
        <url-pattern>/UpdateStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStaff</servlet-name>
        <url-pattern>/DeleteStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffPopupRetrieve</servlet-name>
        <url-pattern>/StaffPopupRetrieve</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchOrderBasedOnProduct</servlet-name>
        <url-pattern>/SearchOrderBasedOnProduct</url-pattern>
    </servlet-mapping>
    <error-page>
        <location>/errorPage.jsp</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>ToStaffDashboard</servlet-name>
        <url-pattern>/ToStaffDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCategSelected</servlet-name>
        <url-pattern>/GetCategSelected</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToggleProdArchive</servlet-name>
        <url-pattern>/ToggleProdArchive</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToggleStaffArchive</servlet-name>
        <url-pattern>/ToggleStaffArchive</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>45</session-timeout>
    </session-config>
    <security-constraint>
        <display-name>AdminConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>Admin</web-resource-name>
            <description/>
            <url-pattern>/secureAdmin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>AdminRole</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>StaffConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>Staff</web-resource-name>
            <description/>
            <url-pattern>/secureStaff/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>StaffRole</role-name>
            <role-name>AdminRole</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>file</realm-name>
        <form-login-config>
            <form-login-page>/staffLogin.jsp</form-login-page>
            <form-error-page>/staffLoginError.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description>Users added to this role will have access to the secureAdmin, secureStaff, and secureUser directory of the server.</description>
        <role-name>AdminRole</role-name>
    </security-role>
    <security-role>
        <description>Users added to this role will have access to the secureStaff and secureUser directory of the server.</description>
        <role-name>StaffRole</role-name>
    </security-role>
</web-app>
